<ion-content padding center text-center>
  <ion-title>Inicia Sesión</ion-title>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Nombre Usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Apellido Usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Número Telefónico" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Contraseña" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button ion-button full>Iniciar</ion-button>
</ion-content>
